.custom-button-radio {
    cursor: pointer;
    display: flex;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.custom-button-radio-slot {
    margin-left: 5px;
}

.custom-button-radio-unchecked {
    position: relative;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    border: 2px solid #6644ff;
    background-color: white;
}

.custom-button-radio-checked {
    position: relative;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    border: 2px solid #6644ff;
    background-color: white;
}

.custom-button-radio-checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #6644ff;
    border-radius: 50%;
}