.collapse {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    display: block;
}

.collapse-head {
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.collapse-open__button {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
}

.collapse-body {
    display: block;
}

.collapse-cursor-pointer {
    cursor: pointer;
}

.collapse-unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.collapse__arrow-top {
    transform: scale(1.5);
}